.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-fixed-picture-div {
  float: left;
  width: 50vw;
}

.App-portrait {
 width: 45vw;
}

.App-content-div {
  float: right;
  width: 50vw;
  justify-content: center;
}

.App-content-div p {
  padding-bottom: 5vh;
  font-size: 2em;
}

.experience-list {
  list-style-type: none;
}

.App-link {
  color: #09d3ac;
  font-size: 1.5em;
  margin: 2vh;
}

.App-footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
}
